h2{
    background-color: rgb(114, 196, 196);
    text-align: center;

}
*{
    background-color: rgb(141, 215, 234);
    text-wrap: initial ;
    font-size: larger;
    text-decoration-style: solid;

}